@charset "UTF-8";
#myBtn {
    width: 100px;
    padding: 10px;
    font-size:20px;
    position: absolute;
    margin: 0 auto;
    right: 0;
    left: 0;
    bottom: 50px;
    z-index: 9999;
}

.modal-content-lg {
	height: 100%;
	width: 100%;
	overflow: scroll;
}