@charset "UTF-8";

.mainBox {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
}

.searchBox {
	background-color: rgb(66, 179, 244);
	padding: 30px;
}



.space {margin-left:15px}